<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="schoolId">Id</label>
      <input type="text" class="form-control" id="schoolId" name="schoolId" aria-describedby="shoolIdHelp" placeholder="School id" [(ngModel)]="school.id" >
      <small id="shoolIdHelp" class="form-text text-muted">The school unique id</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="schoolName">Name</label>
      <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="Name" [(ngModel)]="school.name">
    </div>
  </div>
  <div class="form-row">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
    <button type="button" class="btn btn-default" [routerLink]="['/schools']">Cancel</button>
  </div>
</form>