<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!!!
  </h1>
  <nav>
    <a routerLink="/schools">Schools</a>
  </nav>
  <router-outlet></router-outlet>
</div>
