<div class="container-fluid">
  <div class="row justify-content-start">
    <button type="button" class="btn btn-primary ml-2" [routerLink]="['/school', 0]">Adicionar</button>
    <div class="col-md-auto">
      <input type="text" [formControl]="searchField" placeholder="Digite o termo da busca">
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered" style="width: 100%">
      <thead>
        <tr sclass="d-flex">
          <th scope="col" sclass="col-3" sstyle="width: 15%">Id</th>
          <th scope="col" sclass="col-6" sstyle="width: 60%">Name</th>
          <th scope="col" sclass="col-3" sstyle="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools" sclass="d-flex">
          <td scope="row" sclass="col-lg-3">{{school.id}}</td>
          <td sclass="col-lg-6">{{school.name}}</td>
          <td sclass="col-lg-3"><button type="button" class="btn btn-light" [routerLink]="['/school', school.id]">Editar</button><button type="button" class="btn btn-danger" (click)="deleteSchool(school)">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>